<div class="container">
  <div class="card-columns">
    <div class="card" style="width:200px" *ngFor="let gameComment of gamesComments">
      <div class="card-body">
        <h4 class="card-title">{{gameComment.gameID}}</h4>
        <p class="card-text">game Name: {{gameComment.gameName}}</p>
        <p class="card-text">Comment: {{gameComment.content}}</p>  
        <p class="card-text">accepted: {{gameComment.accepted}}</p>                  
      </div>
      <img class="card-img-bottom" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" >
    </div>
  </div>
</div>
<button type="button" (click)="goBack()" class="btn btn-primary btn-lg center">go back</button>