<accordion>

  <accordion-group heading="Online Users">
    <div class="container">
      <div class="card-columns">
        <div class="card" style="width:200px" *ngFor="let onlineUser of onlineUsers">
          <div class="card-body">
            <h4 class="card-title">{{onlineUser.id}}</h4>
            <p class="card-text">First Name: {{onlineUser.firstName}}</p>
            <p class="card-text">Last Name: {{onlineUser.lastName}}</p>      
          </div>
          <img class="card-img-bottom" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" >
        </div>
      </div>
    </div>
  </accordion-group>

  <accordion-group heading="Best Games">
    <carousel>
        <slide *ngFor="let bestGame of bestGames">
          <div class="text-center py-5 bg-dark text-white">
            <p>Max Score: {{bestGame.maxScore}}</p>
            <p>Reset Numbers: {{bestGame.resetNumbers[0]}}</p>
            <p>Dices: {{bestGame.Dices}}</p>
            <p>Max Throw: {{bestGame.maxThrow}}</p>
          </div>
        </slide>
    </carousel>
  </accordion-group>
 
  <accordion-group heading="Most Online Games">
    <carousel>
        <slide *ngFor="let mostOnlineGame of mostOnlineGames">
          <div class="text-center py-5 bg-dark text-white">
            <p>Max Score: {{mostOnlineGame.maxScore}}</p>
            <p>Reset Numbers: {{mostOnlineGame.resetNumbers[0]}}</p>
            <p>Dices: {{mostOnlineGame.Dices}}</p>
            <p>Max Throw: {{mostOnlineGame.maxThrow}}</p>
          </div>
        </slide>
    </carousel>
  </accordion-group>

  <accordion-group heading="Best New Games">
    <carousel>
        <slide *ngFor="let bestNewGame of bestNewGames">
          <div class="text-center py-5 bg-dark text-white">
            <p>Max Score: {{bestNewGame.maxScore}}</p>
            <p>Reset Numbers: {{bestNewGame.resetNumbers[0]}}</p>
            <p>Dices: {{bestNewGame.Dices}}</p>
            <p>Max Throw: {{bestNewGame.maxThrow}}</p>
          </div>
        </slide>
    </carousel>  
  </accordion-group>
</accordion>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav" >
    <li class="nav-item">
      <a class="nav-link active" routerLink="/users-reviews" style="text-align: center;">Users Reviews </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/games-reviews" style="text-align: center;">games-reviews </a>
    </li>
  </ul>
</nav>

